<!--begin::Content-->
<div id="kt_app_content" class="app-content  flex-column-fluid ">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container  container-xxl ">
		<!--begin::Row-->
		<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
			<!--begin::Col-->
			<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
				
				<!-- this is the specific content to overwrite in each single view -->				
				<div layout:fragment="content"></div>
				
				<!--layout-partial:partials/widgets/cards/_widget-20.html-->
				<!--layout-partial:partials/widgets/lists/_widget-26.html-->
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->